<link href="http://www.google.com/uds/css/gsearch.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBJxinfMqFhdPjHPR5dSefcitYycTN526g&sensor=true&region=US"></script>
<script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;key=AIzaSyBJxinfMqFhdPjHPR5dSefcitYycTN526g" type="text/javascript"></script>
<script src="/javascripts/bradoyler.js" type="text/javascript"></script>
<script type="text/javascript">

function Location() {
  this.user_id = 1;
  this.name = "Unknown";
  this.location = "Unknown";
  this.website = "Unknown";
  this.category = "startup";
  this.Long = 39.955741;
  this.Lat = -75.176289;
}

function initialize() {

    var mapStyles = [
         { featureType: "road", elementType: "geometry", stylers: [{ hue: "#8800ff" }, { lightness: 100}] }, {
           featureType: "road", stylers: [{ visibility: "on" }, { hue: "#91ff00" }, { saturation: -62 }, { gamma: 1.98 }, { lightness: 45}]}, {
           featureType: "water", stylers: [{ hue: "#005eff" }, { gamma: 0.72 }, { lightness: 42}]}, { 
           featureType: "transit.line", stylers: [{ visibility: "on" }]}, {
           featureType: "administrative.locality", stylers: [ { visibility: "on" }]}, {
           featureType: "administrative.neighborhood", elementType: "geometry",stylers: [{ visibility: "simplified" }]}, {
           featureType: "landscape",stylers: [{ visibility: "on" },{ gamma: 0.41 },{ lightness: 46 }]}, {
           featureType: "administrative.neighborhood", elementType: "labels.text", stylers: [{ visibility: "on" }, { saturation: 33 }, { lightness: 20}]
         }
        ];

    var myLatlng = new google.maps.LatLng(39.955741,-75.176289);

    // Initialize the local searcher
    gLocalSearch = new GlocalSearch();
    gLocalSearch.setSearchCompleteCallback(null, OnLocalSearch);

    var myOptions = { zoom: 10, center: myLatlng, styles: mapStyles, mapTypeId: google.maps.MapTypeId.ROADMAP }
    gMap = new google.maps.Map(document.getElementById("map"), myOptions);

    $.getJSON("/mapfeed", function (data) {
        var locations = data;
        iw = new google.maps.InfoWindow();
        for (var i = 0; i < locations.length; i++) {
            var location = locations[i].company;
            location.category = "startup";
            addMarker(location);          
        }
    });
}
</script>

<h1>Companies</h1>

<p>There are <%=@companies.length.to_s %> companies on the map!  Jump to a city/zip by typing into the box below.</p>

<div style="">
    <div style="margin-bottom: 3px;">
        <div>
            <input type="text" id="queryInput" value="Philadelphia" style="width: 250px;" />
            <input type="button" value="Find" onclick="doSearch()" />
        </div>
    </div>
   
    <div id="map" style="width: 100%; height: 500px; border: 1px solid #979797;">
    </div>
     <div style=" text-align:center; margin:auto;" id="legend">
        <ul style="font-size: x-small; list-style: horizontal; list-style: none;">
            <li style="display: inline;">
                <input id="GroupA" type="checkbox" value="startup" checked="checked" />
                <img alt="Startups" src="/images/maps/startup.png" />Startups </li>
            <li style="display: inline;">
                <input id="GroupB" type="checkbox" value="accelerator" checked="checked" />
                <img alt="Accelerators" src="/images/maps/accelerator.png" />Accelerators</li>
            <li style="display: inline;">
                <input id="GroupC" type="checkbox" value="incubator" checked="checked" />
                <img alt="Incubators" src="/images/maps/incubator.png" />Incubators</li>
            <li style="display: inline;">
                <input id="GroupD" type="checkbox" value="coworking" checked="checked" />
                <img alt="Coworking" src="/images/maps/coworking.png" />Coworking</li>
            <li style="display: inline;">
                <input id="GroupE" type="checkbox" value="investor" checked="checked" />
                <img alt="Investors" src="/images/maps/investor.png" />Investors</li>
            <li style="display: inline;">
                <input id="GroupF" type="checkbox" value="service" checked="checked" />
                <img alt="Consulting" src="/images/maps/service.png" />Service</li>
             <li style="display: inline;">
                <input id="GroupG" type="checkbox" value="event" checked="checked" />
                <img alt="Events" src="/images/maps/event.png" />Events</li>
        </ul>
    </div>
</div>
