<!DOCTYPE html>
<html>
  <head>

    <% # required for widget, else marker text has problems %>
    <link href="/stylesheets/basic_mobile.css?1346611977" media="all" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/desktop.css?1346611977" media="all and (min-device-width: 961px)" rel="stylesheet" type="text/css" />

    <% # required for loading json %>
    <script src="/javascripts/lib/jquery-1.5.js?1350883220" type="text/javascript"></script>

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      #map_canvas { height: 100% }
    </style>
  </head>
  <body >
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDbOiB_p6UFE7efb_Jp4r2PWLELGZZAl_I&sensor=true&region=US"></script>
    <script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;key=AIzaSyDbOiB_p6UFE7efb_Jp4r2PWLELGZZAl_I" type="text/javascript"></script>
    <script src="/javascripts/map.js" type="text/javascript"></script>
    <script type="text/javascript">

    function Location() {
      this.user_id = 1;
      this.name = "Unknown";
      this.location = "Unknown";
      this.website = "Unknown";
      this.category = "startup";
      this.Long = 40.05;
      this.Lat = -75.40;
    }

    function initialize() {

        var mapStyles = [
             { featureType: "road", elementType: "geometry", stylers: [{ hue: "#8800ff" }, { lightness: 100}] }, {
               featureType: "road", stylers: [{ visibility: "on" }, { hue: "#91ff00" }, { saturation: -62 }, { gamma: 1.98 }, { lightness: 45}]}, {
               featureType: "water", stylers: [{ hue: "#005eff" }, { gamma: 0.72 }, { lightness: 42}]}, { 
               featureType: "transit.line", stylers: [{ visibility: "on" }]}, {
               featureType: "administrative.locality", stylers: [ { visibility: "on" }]}, {
               featureType: "administrative.neighborhood", elementType: "geometry",stylers: [{ visibility: "simplified" }]}, {
               featureType: "landscape",stylers: [{ visibility: "on" },{ gamma: 0.41 },{ lightness: 46 }]}, {
               featureType: "administrative.neighborhood", elementType: "labels.text", stylers: [{ visibility: "on" }, { saturation: 33 }, { lightness: 20}]
             }
            ];

        var myLatlng = new google.maps.LatLng(40.05,-75.40);

        // Initialize the local searcher
        gLocalSearch = new GlocalSearch();
        gLocalSearch.setSearchCompleteCallback(null, OnLocalSearch);

        var myOptions = { zoom: 10, center: myLatlng, styles: mapStyles, mapTypeId: google.maps.MapTypeId.ROADMAP }
        gMap = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        //Get the location from the URL parameters. If a location is specified, filter for it.
        var loc = "";
        var locIndex = document.URL.indexOf("location=");
        if(locIndex > -1) {
            loc = document.URL.substr(locIndex);
            loc = loc.replace("location=","");
            loc = loc.split("&")[0];

            $.getJSON("/mapfeed", function (data) {
                var locations = data;
                iw = new google.maps.InfoWindow();
                for (var i = 0; i < locations.length; i++) {
                    var location = locations[i].company;
                    if(location.location.toLowerCase().indexOf(loc.toLowerCase()) > -1) {
                        addMarker(location);
                    }
                }
            });
        } else {
            $.getJSON("/mapfeed", function (data) {
                var locations = data;
                iw = new google.maps.InfoWindow();
                for (var i = 0; i < locations.length; i++) {
                    var location = locations[i].company;
                    addMarker(location);          
                }
            });
        }

        var categories = "";
        var categoriesIndex = document.URL.indexOf("categories=");
        if(categoriesIndex) {
            categories = document.URL.substr(categoriesIndex);
            categories = categories.replace("categories=","");
            categories = categories.split("&")[0];
            if(categories == "false") {
                document.getElementById("legend").style.display="none";
                document.getElementById("map_canvas").style.height="100%";
            }
        }
    }
    </script>

    <div style=" text-align:center; margin:auto;" id="legend">
        <!--a href="http://weworkinphilly.com/">Visit WeWorkInPhilly</a-->
        <ul style="font-size: x-small; list-style: horizontal; list-style: none;">
            <li style="display: inline;">
                <input id="GroupH" type="checkbox" value="company" checked="checked" />
                Companies<img alt="Companies" src="/images/maps/company.png" /> || </li>
            <li style="display: inline;">
                <input id="GroupA" type="checkbox" value="startup" checked="checked" />
                Startups<img alt="Startups" src="/images/maps/startup.png" /> || </li>
            <li style="display: inline;">
                <input id="GroupB" type="checkbox" value="accelerator" checked="checked" />
                Accelerators<img alt="Accelerators" src="/images/maps/accelerator.png" /> || </li>
            <li style="display: inline;">
                <input id="GroupC" type="checkbox" value="organization" checked="checked" />
                Organizations<img alt="Organizations" src="/images/maps/organization.png" /> || </li>
            <li style="display: inline;">
                <input id="GroupD" type="checkbox" value="coworking" checked="checked" />
                Coworking<img alt="Coworking" src="/images/maps/coworking.png" /> || </li>
            <li style="display: inline;">
                <input id="GroupE" type="checkbox" value="investor" checked="checked" />
                Investors<img alt="Investors" src="/images/maps/investor.png" /> || </li>
            <li style="display: inline;">
                <input id="GroupF" type="checkbox" value="service" checked="checked" />
                Services<img alt="Consulting" src="/images/maps/service.png" /></li>
        </ul>
    </div>

    <div id='map_canvas' style='height:90%;width:100%'></div>

  </body>
</html>
