%p
  The thing you are looking for doesn't exist. Are you sure you asked for the right thing? Maybe it was deleted? Maybe it moved to Washington? So sorry.

%div#creepy-baby-sloth
  = image_tag 'bearded-werth.jpg'
