.section_header
  %h1 About weWorkInPhilly

%h2 What is weWorkInPhilly?
%p weWorkInPhilly is a community edited guide to the People, Companies, Groups, Projects, Products, and Resources that make up the creative, technology, and business community in Philadelphia. It was launched by <a href="http://twitter.com/alexknowshtml">Alex Hillman</a> and <a href="http://twitter.com/graybill">Linus Graybill</a> on July 6th, 2011.

%h2 When somebody asks you where you're from, do you tell them "Philadelphia"?

%p Being "in" Philadelphia is more about identity than about geography. As the creative, technology, and business community in Philadelphia continues to flourish, it's common for stories to unfold and begin to spread through our city, region, and the world.

%p If being "in Philadelphia" isn't part of those stories, everybody loses.

%p Our goal is for it to help the creative, technology, and business community in Philadelphia stories to be told with Philadelphia as a part of the story's identity. Simulteneously, we can make easier for people to find someone or something that inspires them that's in their own backyard.

%h2 What does it mean to be "community edited"?

%p This guide is being developed on ideas that helped <a href="http://indyhall.org">Indy Hall</a>, <a href="http://wikipedia.com">Wikipedia</a>, and other communities grow organically. These are networks built on a trust that provides checks and balances, influenced by a set of core values.

%p Most guides are curated by an individual. This guide is different.

%p When you join weWorkInPhilly using using <a href="http://twitter.com">Twitter</a> or <a href="http://linkedin.com">LinkedIn</a> (perhaps more soon), you create a person profile. Only you can edit or delete this profile. Once you are logged in, you can add other people from your Twitter/LinkedIn networks, as well as add Companies, Groups, Projects, Products, and Resources.

%p The fun comes when you realize that anybody who is logged in can add anything - but can also change or take anything away. This network requires trust in a system where anybody can change or remove a non-human profile, but anybody can change or add it back as well.

%p There’s a chance a couple of bad things can happen, and we are on the lookout for them. But by choosing to make this site open, there's an infinite number of <a href="https://twitter.com/#!/jenndrago/status/89765024758894592">good</a> <a href="https://twitter.com/#!/lendamico/status/89350102895964160">things</a> <a href="https://twitter.com/#!/stevefink/status/89343190028652544">that</a> <a href="https://twitter.com/#!/themartorana/status/89767072548134912">can</a> <a href="https://twitter.com/#!/jsantell/status/89179592144859136">happen</a>.

%p The story of weWorkInPhilly.com is writing itself. We're just here to help.

%p Thanks Philly, <br/>Alex & Linus.